<% layout('/layouts/default.html', {title: '任务信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('新增任务信息')}
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${newTask}" action="${ctx}/task/newTask/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('项目编码')}：</label>
					<div class="control-inline">
						<#form:input path="projectCode" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('项目名称')}：</label>
					<div class="control-inline">
						<#form:input path="projectName" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("项目编码")}', name:'projectCode', index:'p.project_code', width:150, align:"center"},
		{header:'${text("项目名称")}', name:'projectName', index:'p.project_name', width:150, align:"center"},
		{header:'${text("项目负责人")}', name:'userName', index:'u.user_name', width:150, align:"center"},
		{header:'${text("更新时间")}', name:'updateDate', index:'p.update_date', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, align:"center", formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('task:newTask:edit')){ %>
				actions.push('<a href="${ctx}/task/newTask/form?id='+row.projectCode+'" class="btn" title="${text("新增任务")}"><i class="fa fa-plus"></i>${text("新增")}</a>');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>